
<%= simple_form_for [@restaurant, @review] do |f| %>

  <div class="card">
    <div class="card-description">
      <p><%= f.input :content, as: :text, :input_html => { class: 'test', :cols => 50, :rows => 10 } %></p>
      <p><%= f.input :rating %></p>
      <div class="edit-button">
        <button class="btn  btn-outline-success btn-sm">Add!</button>
      </div>
    </div>
  </div

<% end %>
